<div class="container">
	<div class="panel panel-default">
        {{#if polls}}
    		<div class="panel-heading">Polls issued by {{user.username}}!</div>
    		<div class="panel-body">
                <div class="list-group">
                {{#each polls}}
                    <button type="button" class="list-group-item" onclick="window.location.href='/poll/{{id}}'">{{question}}</button>
                {{/each}}
                 </div>
            </div>
        {{else}}
            <div class='jumbotron'>
            	<h3>You don't have any polls. Create polls <a href='/new'>here.</a></h3>
            </div>
        {{/if}}
    </div>
</div>
